/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: ENA_METADATA {
        cpus       = 1
        memory     = 2.GB
        time       = 1.h
        publishDir = [
            path: { "${params.outdir}/${params.study_accession}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: DOWNLOAD_FASTQ {
        cpus          = 1
        memory        = 1.GB
        time          = 4.h
        errorStrategy = 'retry'
        maxRetries    = 3
        publishDir    = [
            path: { "${params.outdir}/${params.study_accession}/${meta.run_accession}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: CREATE_MIASSEMBLER_SAMPLESHEET {
        cpus       = 1
        memory     = 2.GB
        time       = 1.h
        publishDir = [
            path: { "${params.outdir}/${params.study_accession}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
